<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/css/gestion.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Usuarios</h1>
        <p>Elige una opción para gestionar los usuarios:</p>
        <div class="btn-group-vertical">
            <a href="/usuario/create" class="btn btn-primary">Crear Usuario</a>
            <a href="/usuario/search" class="btn btn-primary">Buscar Usuario</a>
            <a href="/usuario/update" class="btn btn-primary">Actualizar Usuario</a>
            <a href="/usuario/list" class="btn btn-primary">Listar Usuarios</a>
           
        </div>
    </div>
</body>
</html>

